<div class="container">
  <%= link_to("取引一覧","/manga/deal")%>
  <%= link_to("未発送取引一覧","/manga/notyet")%>
  <%= link_to("ダッシュボード","/dashboard")%>
  <div class="top_text">
    未発送取引一覧
  </div>
  <div class="row">
    <% @gives.each do |give|%>
      <% if give.sent==nil %>
      <div class="deal_data deal_not_yet">
      <%else%>
      <div class="deal_data">
      <% end%>
        <% if give.sent==nil %>
        <span>未発送</span>
        <br>
        発送したら↓
        <%= link_to "発送しました","/sent/#{give.id}",class:"btn btn-lg btn-primary blue_btn" ,method: "post" %>
        <%else%>
        発送完了
        <br>
        <% end%>
        奢り成立日時
        <%= Offer.find_by(id:give.offer_id).given_at%>
        <br>
        取引番号
        <%= give.id%>
        <br>
        奢った人
        <%= give.user_id%>
        奢られた人
        <%= give.target_id%>
        <br>
        奢った漫画
        <br>
        <% manga = @mangas.find_by(id: give.manga_id)%>
        <span><%= manga.name%></span>
        <br>
        届ける住所
        <br>
        <span><%= @users.find_by(id:give.target_id).address%></span>
        <br>
      </div>
    <% end %>
  </div>
</div>



<div style = "height:200px;"></div>
