<div class = "manga-page-item">
  <div class = "image">
  <% if @manga.image.present? %>
  <%= image_tag(@manga.image)%>
  <% end %>
  </div>
  <div class = "name">
  <%= @manga.name %>
  </div>
  <div class = "author">
  <%= @manga.author%>
  </div>
  <div class = "text">
  <%= @manga.text%>
  </div>
  <div class = "volume">
  <p>1巻〜<%= @manga.volume%>巻</p>
  </div>
  <div class = "price">
  <p><%= @manga.price * @manga.volume%>円</p>
  </div>
</div>

<%#= form_tag("/manga/pay") do %>
<script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key= 'pk_test_4d71821ad18b8f6f7a889601'  ></script>
<%# end%>

<div style = "height:50px"></div>

<%# <%= form_tag("/manga/fakepay") do %>
<!-- <input type="submit" value="fakepay"> -->
<%# end %>

<%=link_to "奢る", "/manga/fakepay",method: "post", data: { confirm: '奢りますか？'}, class: "btn btn-lg btn-primary"%>

<div style = "height:50px"></div>

<%=link_to "オファー", "/manga/offer",method: "post", data: { confirm: 'オファーしますか？'}, class: "btn btn-lg btn-primary"%>
