<div class="container">
  <div class="row manga_row manga_page_row">
    <div class="col-6">
      <!--漫画の画像表示-->
      <% if @manga.image.present?  %>
        <% if File.exist?("./app/assets/images/#{@manga.image}")%>
          <%= image_tag @manga.image,class:"manga_image"%>
        <% else %>
          <p>画像準備中</p>
        <% end %>
      <% else %>
        <p>画像準備中</p>
      <% end %>
      <!--/漫画の画像表示-->
    </div>

    <div class="col-6">
      <!--漫画情報表示-->
      <div class="manga_data manga_name">
        <%= @manga.name %>
      </div>

      <div class = "manga_data manga_author">
        <%= @manga.author%>
      </div>
      <div class = "manga_data manga_volume">
        <% if @manga.volume == 1 %>
          <span>1</span>巻
        <%else%>
          <span>1</span>巻〜<span><%= @manga.volume%></span>巻
        <% end %>
      </div>
      <div class = "manga_data manga_amount">
        <span><%= @manga.price * @manga.volume%></span>円
      </div>
      <!--漫画情報表示-->
    </div>
  </div>
  <div class="row manga_row manga_page_row">
    <div class="col-12">
      <div class = "text">
        <p><%= @manga.text%></p>
      </div>
    </div>
  </div>

  <% if @current_user == nil %>
    <div class="row manga_row manga_page_row need_login">
      <div class="col-12">
        <p>奢る、オファーにはアカウント登録とログインが必要です。</p>
        <div class="register">
          <%= link_to("新規登録はこちら！","/register")%>
        </div>
        <%= link_to "ログイン","/login" ,class:"btn btn-lg btn-primary red_btn"%>
      </div>
    </div>
  <% else %>
    <div class="row manga_row manga_page_row">
      <!--奢る機能-->
      <div class="col-12">
        <h2>奢る</h2>
      </div>
      <!--カードが登録されているか-->
      <%if @card.present?%>
        <% @card.each do |card_each|%>
          <%if card_each.present?%>
            <div class="col-12 card-col">
              <%=link_to "/manga/card_pay/#{card_each.customer}",method: "post", data: { confirm: 'このカードで奢りますか？'}, class: "btn btn-lg btn-primary card-btn" do%>
                <h2>このカードで奢る</h2>
                カード名義人: <%= card_each.name %>
                <br>
                カード番号：**** **** **** <%= card_each.last4%>
                <br>
                有効期限：<%= card_each.exp_month %> / <%= card_each.exp_year %>
                <br>
                ブランド：<%= card_each.brand %>
              <%end%>
            </div>
          <% end %>
        <% end %>
      <% else %>
        カードが登録されていません。
      <% end %>
      <!--カードが登録されているか-->
    </div>
    <div class="row manga_row manga_page_row">
      <div class="col-12">
        <!--カード登録機能-->
        <h2>カードを新規登録して奢る</h2>
        <%= form_with url: "/manga/create_pay", id: "card_form", local: true do |f| %>

          <%#= f.label :name, "カード名義人" %>
          <%= f.text_field :name, placeholder:"カード名義人"%>

          <%#= f.label :number, "カード番号" %>
          <%= f.text_field :number ,placeholder:"カード番号"%>

          <%#= f.label :cvc, "セキュリティコード" %>
          <%= f.text_field :cvc ,placeholder:"セキュリティコード"%>

          <%#= f.label :exp_month, "有効期限（月）" %>
          <%= f.text_field :exp_month ,placeholder:"有効期限（月）"%>

          <%# <%= f.label :exp_year, "有効期限（年）" %>
          <%= f.text_field :exp_year ,placeholder:"有効期限（年）"%>

          <%= f.submit "カードを登録して奢る" ,class:"btn btn-lg btn-primary card-btn ", data: { confirm: 'カードを登録して支払いますか？'}%>
        <% end %>
      <!--カード登録機能-->
      </div>
    </div>

    <div style = "height:50px"></div>
    <!--奢る機能-->
    <div class="row manga_row manga_page_row">
      <!--オファー機能-->
      <div class="col-12">
        <h2>オファーする</h2>
      </div>
      <%if @current_user.address%>
        <div class="col-12 offer_col">
          設定中の住所<%= link_to("住所を変更する","/user/ad_set")%>
        </div>
        <div class="col-12 offer_col">
          <%= @current_user.address %>
          <br>
        </div>
        <div class="col-12 offer_col">
          <% if @offer_point == 0%>
            <div class="btn btn-lg btn-primary offer-btn btn_gray">オファー枠がありません</div>
          <% else %>
            <%=link_to "この漫画をオファー", "/manga/offer",method: "post",
              data: { confirm: '現在の住所にこの漫画をオファーしますか？誰かに奢ってもらうまでオファー枠の変更はできません。'},
              class: "btn btn-lg btn-primary offer-btn"
            %>
            <div class="attention">※住所が正確でないと届かない場合がございます。その場合の払い戻しはできかねますのであらかじめご了承ください。</div>
          <% end %>
        </div>
      <% else %>
        <div class="col-12">
          住所が設定されていません。
          <%= link_to("住所を設定","/user/ad_set")%>
        </div>
      <% end %>
      <!--オファー機能-->
    </div>
  <% end %>

<div style = "height:200px"></div>

</div><!-- <コンテナエンド> -->
