<div class="container">
  <div class="row manga_row manga_page_row">
    <div class="col-6">
      <!--漫画の画像表示-->
      <% if @manga.image.present?  %>
        <% if File.exist?("./app/assets/images/#{@manga.image}")%>
          <%= image_tag @manga.image,class:"manga_image"%>
        <% else %>
          <p>画像準備中</p>
        <% end %>
      <% else %>
        <p>画像準備中</p>
      <% end %>
      <!--/漫画の画像表示-->
    </div>

    <div class="col-6">
      <!--漫画情報表示-->

      <p><%= @manga.name %></p>

      <div class = "author">
        <p><%= @manga.author%></p>
      </div>
      <div class = "volume">
        <% if @manga.volume == 1 %>
          <p>1巻</p>
        <%else%>
          <p>1巻〜<%= @manga.volume%>巻</p>
        <% end %>
      </div>
      <div class = "price">
        <p><%= @manga.price * @manga.volume%>円</p>
      </div>
      <!--漫画情報表示-->
    </div>
  </div>
  <div class="row manga_row manga_page_row">
    <div class="col-12">
      <div class = "text">
        <p><%= @manga.text%></p>
      </div>
    </div>
  </div>

  <% if @current_user == nil %>
    <div class="row manga_row manga_page_row">
      奢る、オファーにはアカウント登録とログインが必要です。
      <%= link_to("新規登録","/register")%>
      <%= link_to "ログイン","/login"%>
    </div>
  <%else%>
    <div class="row manga_row manga_page_row">
      <!--奢る機能-->
      <div class="col-12">
        <h2>奢る</h2>
      </div>
      <!--カードが登録されているか-->
      <%if @card.present?%>
        <% @card.each do |card_each|%>
          <%if card_each.present?%>
            <div class="col-12 card-col">
              <%=link_to "/manga/card_pay/#{card_each.customer}",method: "post", data: { confirm: 'このカードで奢りますか？'}, class: "btn btn-lg btn-primary card-btn" do%>
                <h2>このカードで奢る</h2>
                <p>
                  カード名義人: <%= card_each.name %>
                  <br>
                  カード番号：**** **** **** <%= card_each.last4%>
                  <br>
                  有効期限：<%= card_each.exp_month %> / <%= card_each.exp_year %>
                  <br>
                  ブランド：<%= card_each.brand %>
                </p>
              <%end%>
            </div>
          <% end %>
        <% end %>
      <%else%>
        カードが登録されていません。
      <% end %>
      <!--カードが登録されているか-->
    </div>
    <div class="row manga_row manga_page_row">
      <div class="col-12">
        <!--カード登録機能-->
        <h2>カードを新規登録して奢る</h2>
        <%= form_with url: "/manga/create_pay", id: "card_form", local: true do |f| %>

          <%#= f.label :name, "カード名義人" %>
          <%= f.text_field :name, placeholder:"カード名義人"%>

          <%#= f.label :number, "カード番号" %>
          <%= f.text_field :number ,placeholder:"カード番号"%>

          <%#= f.label :cvc, "セキュリティコード" %>
          <%= f.text_field :cvc ,placeholder:"セキュリティコード"%>

          <%#= f.label :exp_month, "有効期限（月）" %>
          <%= f.text_field :exp_month ,placeholder:"有効期限（月）"%>

          <%# <%= f.label :exp_year, "有効期限（年）" %>
          <%= f.text_field :exp_year ,placeholder:"有効期限（年）"%>

          <%= f.submit "カードを登録して奢る" ,class:"btn btn-lg btn-primary card-btn card-submit-btn", data: { confirm: 'カードを登録して支払いますか？'}%>
        <% end %>
      <!--カード登録機能-->
      </div>
    </div>

    <div style = "height:50px"></div>
    <!--奢る機能-->
    <div class="row manga_row manga_page_row">
      <!--オファー機能-->
      <div class="col-12">
        <h2>オファーする</h2>
      </div>
      <%if @current_user.address%>
        <div class="col-12">
          設定中の住所
        </div>
        <div class="col-12">
          <%= @current_user.address %>
        </div>
        <div class="col-12">
          <%=link_to "この漫画をオファー", "/manga/offer",method: "post",
            data: { confirm: 'この漫画をオファーしますか？受け取るまでオファー枠の変更はできません。'},
            class: "btn btn-lg btn-primary offer-btn"
          %>
        </div>
      <% else %>
        <div class="col-12">
          住所が設定されていません。
        </div>
      <% end %>
      <!--オファー機能-->
    </div>
  <% end %>

<div style = "height:200px"></div>

</div><!-- <コンテナエンド> -->
