<div class="container">
  <%= link_to("取引一覧","/manga/deal")%>
  <%= link_to("未発送取引一覧","/manga/notyet")%>
  <%= link_to("ダッシュボード","/dashboard")%>
  <%= link_to("漫画登録","/manga/register")%>
  <div class="top_text">
    新規漫画登録
  </div>
  <div class="row">
    <div class="col-12 user_set">
      <%= form_tag("/manga/insert") do %>
        <div id="info_register">
          <% @manga.errors.full_messages.each do |message| %>
            <div class="alert alert-danger form-error">
              <%= message %>
            </div>
          <% end %>

          <label for="email_register">作品名</label>
          <input name="name" placeholder="作品名">


          <label for="email_register">作者</label>
          <input name="author"  placeholder="作者">


          <label for="email_register">画像ファイル名</label>
          <input name="image" placeholder="画像ファイル名">


          <label for="email_register">作品説明</label>
          <input name="text" placeholder="作品説明">


          <label for="email_register">一巻の値段</label>
          <input name="price"  placeholder="一巻の値段">


          <label for="email_register">巻数</label>
          <input name="volume"  placeholder="巻数">

          <div style = "height:20px;"></div>
          <input type="submit" class="btn btn-lg btn-primary red_btn" value="登録">

        </div>
      <% end %>
    </div>
  </div>
  <div style = "height:200px;"></div>
</div>
