<div class="container">
  <div class="top_text">
    取引中の商品
  </div>
  <div class="row deal_row">
    <% if @not_receive.present? %>
      <% @not_receive.each do |n|%>
        <div class="col-12 deal_data">
          <%= n.given_at %>
          <br>
          送り主
          <%= User.find_by(id:n.given_by).name %>さん
          <br>
          もらった本
          <%= Manga.find_by(id:n.manga_id).name %>
          <%= Give.find_by(id:n.give_id).volume %>巻
          <%= Give.find_by(id:n.give_id).amount %>円分
          <br>
          <% if n.sent == 1 %>
            発送済み
            <%= link_to "受け取りました","/receive/#{n.id}",class:"btn btn-lg btn-primary blue_btn" ,method: "post" %>
          <%else%>
            発送準備中
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div>
        取引はありません。
      </div>
    <% end %>
  </div>
</div>
<%= link_to "/user/page" do%>
  <div class="bottom_nav">
    戻る
  </div>
<% end %>
