<div class="container-fluid">
  <div class="top_text">
    受け取り履歴
  </div>
  <div class="row deal_row">
    <div class="col-12">
      <% if @gets.present? %>
        <% @gets.each do |get|%>
          <div class="deal_data">
            <% if get.sent == 1%>
              <% if get.received == 1%>
                <span>受け取り済み</span>
              <% else %>
                <span>発送済み</span>
              <% end %>
            <% else %>
              <span>発送準備中</span>
            <% end %>
            <br>
            奢り成立日時
            <br>
            <%=  Offer.find_by(id:get.offer_id).given_at %>
            <br>
            送り主
            <br>
            <% @t_user = User.find_by(id:get.user_id)%>
            <%= @t_user.name %>さん
            <br>
            もらった本
            <br>
            <% @manga = Manga.find_by(id:get.manga_id)%>
            <%= @manga.name %>
            <%= get.volume %>巻
            <%= get.amount %>円分
          </div>
        <% end %>
      <% else %>
        <div>
          履歴はありません。
        </div>
      <% end %>
    </div>
  </div>
  <div style = "height:400px"></div>
</div>

<%= link_to "/user/page" do%>
  <div class="bottom_nav">
    戻る
  </div>
<% end %>
