<div class="container">
  <div class="top_text">
    奢り履歴
  </div>
  <div class="row deal_row">
    <div class="col-12">
      <% if @gives.present? %>
        <% @gives.each do |give|%>
          <div class="deal_data">
            奢り成立日時
            <br>
            <%= Offer.find_by(id:give.offer_id).given_at %>
            <br>
            奢った相手
            <br>
            <% @target_user = User.find_by(id:give.target_id)%>
            <%= @target_user.name %>さん
            <br>
            奢った本
            <br>
            <% @given_manga = Manga.find_by(id:give.manga_id)%>
            <%= @given_manga.name %>
            <%= give.volume%>巻
            <br>
            <% if give.sent == 1%>
              <% if give.received == 1%>
                受け取り済み
              <% else %>
                発送済み
              <% end %>
            <% else %>
              発送準備中
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div>
          履歴がありません。
          <br>
          好きな漫画を誰かに奢ってみましょう！
        </div>
      <% end %>
    </div>
  </div>
  <div style = "height:200px"></div>
</div>
<%= link_to "/user/page" do%>
  <div class="bottom_nav">
    戻る
  </div>
<% end %>
