<div class="container-fluid">
  <div class="top_text">
    ログイン
  </div>
  <div class="row login_row">
    <div class="col-12 login_col2">
      <%= link_to("新規登録はこちら","/register")%>
    </div>
  </div>
  <div class="row login_row">
    <div class="col-12 login_col">
      <%= form_tag("/user/login_form") do %>
        <% if @error_message %>
          <div class="alert alert-danger form-error" role="alert">
            <%= @error_message %>
          </div>
        <% end %>
        <input name="email" type="email"  placeholder="メールアドレスを入力" value="<%=@user.email%>" required>

        <input name="password" type="password" placeholder="パスワードを入力" value="<%=@user.password%>" required>

        <input type="submit" class="btn btn-lg btn-primary red_btn" value="ログイン">

      <% end %>
    </div>
  </div>
</div>

<!-- <img src = "assets/profile.png" id = "logo_login" style="height:50px;"> -->
