<p>ユーザー情報ページ</p>


<%= @current_user.name %>さん

<div class = "id">
ユーザid<%= @current_user.id %>
</div>

<div>
  <strong>残りオファー枠</strong>
  <!--オファーの中にこのユーザのオファーかつ受け取っていないものがあるかどうか-->
  <% @offer = Offer.find_by(user_id:@current_user.id,done:0)%>
  <!--ないなら1-->
  <% if @offer.nil?%>
  1 欲しい漫画を選ぼう！
  <!--あるなら0-->
  <% else %>
  0
  <%= Manga.find_by(id:@offer.manga_id).name %>をオファー中です。
  <%end%>
</div>

<div>
<strong>奢り履歴</strong>
<% @gives.each do |give|%>
  <div class="entryside">
    奢った本
    <% @given_manga = Manga.find_by(id:give.manga_id)%>
    <%= @given_manga.name %>
    奢った相手
    <% @target_user = User.find_by(id:give.target_id)%>
    <%= @target_user.name %>さん
  </div>
<% end %>
</div>

<div>
<strong>受け取り履歴</strong>
<% @gets.each do |get|%>
  <div class="entryside">
    もらった本
    <% @manga = Manga.find_by(id:get.manga_id)%>
    <%= @manga.name %>
    送り主
    <% @t_user = User.find_by(id:get.user_id)%>
    <%= @t_user.name %>さん
  </div>
<% end %>
</div>

<%= link_to("支払い設定","/card/new")%>

<%= link_to("ユーザー住所設定","/user/ad_setting")%>

<%= link_to("ログアウト","/logout",{method: "post"})%>
