<!-- <p>ユーザー情報ページ</p> -->
<div class="container">
  <div class="top_text">
    <%= @current_user.name %>さんのマイページ
  </div>
  <!-- 奢り関係情報 -->
  <div class="row give_row">
    <!-- ランク -->
    <div class="col-12 user_rank">
      <%if @current_user == nil%>
        <a href="/login">
          <div style="margin-top:15px;">
            未ログイン
          </div>
        </a>
      <%else%>
        <div class="row rank_row">
          <span><%= @rank%></span>
        </div>
        <div class="row">
          <div class="col-2 progress_label-l">
            <%#= @rank_border[@rank_num]%>
          </div>
          <div class="col-8 progress_label-c">
            残り<%= @rank_border[@rank_num+1] - @user.total_amount_paid%>円でランクアップ！
          </div>
          <div class="col-2 progress_label-r">
            <%#= @rank_border[@rank_num+1]%>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:<%= @progress %>%" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      <%end%>
    </div>
    <!-- 累計情報 -->
    <div class="col-12 give_data">
      <div class="col-12">
        今まで奢った総額
        <br>
        <span><%= @current_user.total_amount_paid %><span>円
      </div>
      <div class="col-12">
        今まで奢った冊数
        <br>
        <span><%= @current_user.total_books_given %><span>冊
      </div>
      <div class="col-12">
        今まで奢った相手の人数
        <br>
        <span><%= @persons_given_num %><span>人
      </div>
    </div>
    <div class="col-12">
      <%= link_to "奢り履歴", "/user/give", class:"btn btn-lg btn-primary history_btn" %>
    </div>
  </div>
  <!-- オファー関連情報 -->
  <div class="row get_row">
    <!--オファーの中にこのユーザのオファーかつ受け取っていないものがあるかどうか-->
    <div class="col-6 offer_data1">
      <div class="">
        残りオファー枠
      </div>
      <div class="offer_num">
        <%= @offer_point%>
      </div>
    </div>
    <div class="col-6 offer_data2">
      <!-- ポイントないなら-->
      <% if @offer_point == 0%>
        <%= Manga.find_by(id:@current_offer.manga_id).name %><br>をオファー中です。
      <!--あるなら-->
      <% else %>
        欲しい漫画を選ぼう！
      <%end%>
    </div>
    <div class="col-6 get_data1">
      取引中の商品
      <div class="offer_num">
        <%= @not_receive.size%>
      </div>
    </div>
    <%# @not_receive.each do |n|%>
    <div class="col-6 get_data2">
      <%= link_to("受け取り通知をする","/user/deal")%>
    </div>
    <%# end %>
    <div class="col-12">
      <%= link_to "受け取り履歴","/user/get",class:"btn btn-lg btn-primary offer_history"%>
    </div>
  </div>
  <!-- 設定関連 -->
  <div class="row set_row">
    <div class="col-12 set_data">
      <%= @current_user.name %>
      <br>
      <%= @current_user.email %>
      <br>
      <% if @cards %>
        クレジットカード登録済み
      <% else %>
        クレジットカード未登録<%= link_to("住所を設定する","/card/new")%>
      <% end %>
      <br>
      <% if @current_user.address %>
        住所登録済み
      <% else %>
        住所未登録<%= link_to("住所を設定する","/user/ad_set")%>
      <% end %>
    </div>
    <div class="col-12 set_col">
      <%= link_to "/user/name_set" do%>
      <div class="row">
        <div class="col-10">
         ユーザー名設定
        </div>
        <div class="col-2">
          ＞
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-12 set_col">
      <%= link_to "/card/new" do%>
      <div class="row">
        <div class="col-10">
         支払い方法設定
        </div>
        <div class="col-2">
          ＞
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-12 set_col">
      <%= link_to "/user/ad_set" do%>
      <div class="row">
        <div class="col-10">
         住所設定
        </div>
        <div class="col-2">
          ＞
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-12 set_col">
      <%= link_to "/logout" ,{method: "post"} do%>
      <div class="row">
        <div class="col-10">
         ログアウト
        </div>
        <div class="col-2">
          ＞
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div><!-- コンテナ終了 -->






<div style = "height:200px;"></div>
