<div class="container">
  <div class="row">
    <div class="col-12 user_set">
      <h2>クレジットカード登録</h2>
      <%= form_with url: "/card/create", id: "card_form", local: true do |f| %>
        <div>
          <%#= f.label :name, "カード名義人" %>
          <%= f.text_field :name ,placeholder: "カード名義人"%>
        </div>
        <div>
          <%#= f.label :number, "カード番号" %>
          <%= f.text_field :number ,placeholder:"カード番号"%>
        </div>
        <div>
          <%#= f.label :cvc, "セキュリティコード" %>
          <%= f.text_field :cvc ,placeholder:"セキュリティコード"%>
        </div>
        <div>
          <%#= f.label :exp_month, "有効期限（月）" %>
          <%= f.text_field :exp_month ,placeholder:"有効期限（月）"%>
        </div>
        <div>
          <%#= f.label :exp_year, "有効期限（年）" %>
          <%= f.text_field :exp_year ,placeholder:"有効期限（年）"%>
        </div>
        <div>
          <%= f.submit "登録" ,class: "btn btn-lg btn-primary red_btn" ,data: { confirm: 'カードを登録しますか？'}%>
        </div>
      <% end %>
    </div>
    <div class="col-12 user_set">
      <h2><%=@current_user.name %>さんの登録済みカード</h2>
      <%if @card.present?%>
        <% @card.each do |card_each|%>
          <%if card_each.present?%>
          <div class = "btn btn-lg btn-primary card">
            カード名義人: <%= card_each.name %>
            <br>
            カード番号：**** **** **** <%= card_each.last4%>
            <br>
            有効期限：<%= card_each.exp_month %> / <%= card_each.exp_year %>
            <br>
            ブランド：<%= card_each.brand %>
          </div>
          <% end %>
        <% end %>
      <%else%>
        カードが登録されていません。
      <% end %>
    </div>
  </div>
</div>

<div style = "height:200px;"></div>


<%= link_to "/user/page" do%>
  <div class="bottom_nav">
    戻る
  </div>
<% end %>
