<!DOCTYPE html>
<html>
  <head>
    <title>Mangaogoru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ec23ce1ea7.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <!-- <script src="https://js.pay.jp/v2/pay.js"></script> -->
  </head>

  <body id='<%= controller.controller_name %>'>

    <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>

    <!-- <link>
    <%#= link_to("ホーム","/")%>
    <%#= link_to("漫画一覧","/manga/index")%>
    <%#= link_to("漫画奢り専用ページ","/manga/give")%>
    <%#= link_to("漫画奢った後","/manga/togive")%>
    <%#= link_to("漫画奢ってオファー後","/manga/toget")%>
    <%#= link_to("ユーザー奢りステータス","/user/give")%>
    <%#= link_to("ユーザー情報","/user/page")%>
    <%#= link_to("ユーザー支払い設定","/user/pay")%>
    <%#= link_to("ユーザー住所設定","/user/ad_set")%>
    <%#= link_to("新規登録","/register")%>
    <%#= link_to("ログイン","/login")%>
    <%#= link_to("ログアウト","/logout",{method: "post"})%>
    <%#= link_to("取引一覧","/manga/deal")%>
    <%#= link_to("未発送取引一覧","/manga/notyet")%>
    <%#= link_to("漫画登録","/manga/register")%>
    </link> -->

    <header>
      <div class="header container">
        <div class="row header_row">
          <div class="col-2">manga-giver</div>
          <div class="col-7"></div>
          <div class="col-3 rank">
            <%if @current_user == nil%>
              未ログイン
            <%else%>
              <%total = @current_user.total_amount_paid%>
              <%if total>100000%>
                ランク:<br>プラチナ
              <%elsif total > 10000%>
                ランク:<br>ゴールド
              <%elsif total > 5000%>
                ランク:<br>シルバー
              <%elsif total > 0%>
                ランク:<br>ブロンズ
              <%else%>
                ランク:<br>ビギナー
              <%end%>
            <%end%>
          </div>
        </div>
      </div>
    </header>

    <main>
    <%= yield %>
    </main>
    <div class="nav_bar">
      <ul>
        <a href="/" id="home_nav">ホーム</a>
        <a href="/manga/index" id="manga_nav">漫画</a>
        <a href="/user/page" id="user_nav">マイページ</a>
      </ul>
    </div>

  </body>
</html>
