<!DOCTYPE html>
<html>
  <head>
    <title>Mangaogoru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ec23ce1ea7.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <!-- <script src="https://js.pay.jp/v2/pay.js"></script> -->
  </head>

  <body id='<%= controller.controller_name %>'>
    <!-- <link>
    <%#= link_to("ホーム","/")%>
    <%#= link_to("漫画一覧","/manga/index")%>
    <%#= link_to("漫画奢り専用ページ","/manga/give")%>
    <%#= link_to("漫画奢った後","/manga/togive")%>
    <%#= link_to("漫画奢ってオファー後","/manga/toget")%>
    <%#= link_to("ユーザ奢りステータス","/user/give")%>
    <%#= link_to("ユーザ情報","/user/page")%>
    <%#= link_to("ユーザ支払い設定","/user/pay")%>
    <%#= link_to("ユーザ住所設定","/user/ad_set")%>
    <%#= link_to("新規登録","/register")%>
    <%#= link_to("ログイン","/login")%>
    <%#= link_to("ログアウト","/logout",{method: "post"})%>
    <%#= link_to("取引一覧","/manga/deal")%>
    <%#= link_to("未発送取引一覧","/manga/notyet")%>
    <%#= link_to("漫画登録","/manga/register")%>
    </link> -->

    <header>
      <div class="header container-fluid">
        <div class="row header_row">
          <div class="col-2">
            <%= link_to "/" do%>
              manga<br>giver
            <% end %>
          </div>
          <div class="col-10 header_rank">
            <%if @current_user == nil%>
              <a href="/login">
                <div style="margin-top:30px;">
                  ログインする
                </div>
              </a>
            <% else %>
              <%= link_to "/user/#{@current_user.id}" do%>
                <div style="margin-top:30px;">
                  ランク:<span><%= @rank %></span>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container-fluid">
        <% if flash[:notice] %>
        <div class="alert alert-danger flash" role="alert">
          <%= flash[:notice] %>
        </div>
        <% end %>
      </div>

    <%= yield %>

    </main>
    <div class="container-fluid nav_bar">
      <div class="row justify-content-evenly">
        <% if $admin == 1 %>
          <div class="col-6 nav-col">
            <a href="/manga/deal">
              <div class="nav_">
                取引一覧
              </div>
            </a>
          </div>
          <div class="col-6 nav-col">
            <a href="/admin_logout">
              <div class="nav_">
                管理者ログアウト
              </div>
            </a>
          </div>
        <% else %>
          <div class="col-6 nav-col">
            <a href="/">
              <div class="nav_" id="home_nav">
                ホーム
              </div>
            </a>
          </div>
          <div class="col-6 nav-col">
            <% if @current_user == nil%>
              <a href="/login">
                <div class="nav_" id="user_nav">
                  ログイン
                </div>
              </a>
            <% else %>
              <a href="/user/page">
                <div class="nav_" id="user_nav">
                  マイページ
                </div>
              </a>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </body>
</html>
